nav li{
    display: inline;
    margin: 0 0 0 15px;    
    text-decoration: none;
    background-color: rgb(226, 43, 43);
    border-radius: 5px;
    width: 100px;
    font-size: large;
    padding: 10px;
}

a:hover{
    color: #363636;
    background-color:#6210fa
}

a:visited{
    color:aliceblue;
}

header{
    padding: 10px;
    width: 100%;
    margin-left: 0%;
    background-color: #a8f3d4;
}

body{
    background-color: #e7d6f7;
}

h1{
    text-align: right;
    margin-right: 25%;
    color:#4c00ff
}

h2{
    margin-left: 30px;    
}

p{
    margin-left:30px;
}

.tb{
    margin-left: 30%;
    width: 400px;
}

.tab{
    padding-left: 20px;
}